@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', Arial, Helvetica, sans-serif; /* Set Poppins as the default font */
}

.main-container {
  max-width: 800px; /* Set a max width for the container */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
}


.add-button {
  padding: 10px 15px;
  margin-bottom: 15px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a transition for hover effect */
}

.add-button:hover {
  background-color: #0056b3; /* Darken the button on hover */
}

.car-list {
  width: 100%; /* Make the car list take full width */
}


