.navbar {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    font-size: 1.125rem;
  }
  
  .navLink {
    color: #333;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .navLink:hover {
    color:burlywood;
    transform: scale(1.05);
  }
 
  